VITE_FORMBLADE_CONTACT=https://formblade.com/f/your_contact_form_id
VITE_FORMBLADE_HIREME=https://formblade.com/f/your_hireme_form_id
VITE_PHONE_NUMBER=+251XXXXXXXXX
VITE_PHONEHref=tel:+251XXXXXXXXX
VITE_EMAIL=your.email@example.com
VITE_SANITY_PROJECT_ID=your_sanity_project_id
VITE_SANITY_DATASET=production
