REACT_APP_FORMSPREE_ENDPOINT=https://formspree.io/f/your_form_id
REACT_APP_PHONE_NUMBER=+251XXXXXXXXX
REACT_APP_PHONEHref=tel:+251XXXXXXXXX
REACT_APP_EMAIL=your.email@example.com
REACT_APP_SANITY_PROJECT_ID=your_sanity_project_id
REACT_APP_SANITY_DATASET=production
